<div class="row">
  <div class="col-md-12">
    <h3><%= link_to "Invoice: #{@bank_line.source.number}", edit_receipt_path(@bank_line.source) %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :company_name %>
      <%= text_field_tag :company_name, @bank_line.source.company_name, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :account_name %>
      <%= text_field_tag :account_name, @bank_line.source.account_name, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :tax_date %>
      <%= text_field_tag :tax_date, @bank_line.source.tax_date&.strftime('%d %b %Y'), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :due_date %>
      <%= text_field_tag :due_date, @bank_line.source.due_date&.strftime('%d %b %Y'), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :gross %>
      <%= text_field_tag :gross, number_to_currency(@bank_line.source.gross, unit: '£'), class: 'form-control', readonly: true %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form_group" style="display: inline-block;">
      <%= link_to 'Statement', bank_account_path(@bank_line.name), class: 'btn btn-primary' %>
      <%= button_to 'Remove Match', bank_line_path(@bank_line), form_class: 'form-inline', class: 'btn btn-danger', method: "delete", remote: true, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
