<div class="row">
  <div class="col-md-12">
    <h3><%= link_to 'Receipt', edit_receipt_path(@bank_line.source) %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :purchase_date, 'Purchase date' %>
      <%= text_field_tag :purchase_date, @bank_line.source.purchase_date&.strftime('%d %b %Y'), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :code, 'Expense type' %>
      <%= text_field_tag :code, "#{@bank_line.source.code} - #{ExpenseType.lookup(@bank_line.source.code)}", class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :amount %>
      <%= text_field_tag :amount, number_to_currency(@bank_line.source.amount, unit: '£'), class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group">
      <%= label_tag :company %>
      <%= text_field_tag :company, @bank_line.source.company, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form_group <%= 'field_with_errors' if @bank_line.source.payer != 'company' %>">
      <%= label_tag :payer %>
      <%= text_field_tag :payer, @bank_line.source.payer, class: "form-control", readonly: true %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form_group" style="display: inline-block;">
      <%= link_to 'Statement', bank_account_path(@bank_line.name), class: 'btn btn-primary' %>
      <%= button_to 'Remove Match', bank_line_path(@bank_line), form_class: 'form-inline', class: 'btn btn-danger', method: "delete", remote: true, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
