<div class="col-md-12">
  <h1>Bank entry</h1>
</div>

<div class="col-md-12">
  <%= render 'shared/error_messages', :target => @bank_line %>
</div>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :name, 'Account name' %>
        <%= text_field_tag :name, @bank_line.name, class: 'form-control', readonly: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :account_num, 'Account #' %>
        <%= text_field_tag :account_num, @bank_line.account_num, class: 'form-control', readonly: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :sort_code %>
        <%= text_field_tag :sort_code, @bank_line.sort_code, class: 'form-control', readonly: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :transaction_date, 'Transaction date' %>
        <%= date_field_tag :transaction_date, @bank_line.transaction_date, class: 'form-control', readonly: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :transaction_type, 'Transaction type' %>
        <%= text_field_tag :transaction_type, @bank_line.transaction_type, class: 'form-control', readonly: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form_group">
        <%= label_tag :description %>
        <%= text_field_tag :description, @bank_line.description, class: 'form-control currency', readonly: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :amount %>
        <%= text_field_tag :amount, number_to_currency(@bank_line.amount.abs), class: "form-control money #{'negative' if @bank_line.amount < 0}", readonly: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form_group">
        <%= label_tag :balance %>
        <%= text_field_tag :balance, number_to_currency(@bank_line.balance.abs), class: "form-control money #{'negative' if @bank_line.balance < 0}", readonly: true %>
      </div>
    </div>
  </div>

  <% if @bank_line.source %>
    <%= render @bank_line.source_type %>
  <% else %>
    <%= render 'match_accordion' %>
  <% end %>
</div>
