<div class="col-md-12 multi-colums" >

  <div class="form_group">
    <%= f.label :company_name do  %>
      Company name
      <%= link_to('(toggle details)', '#', onclick: '$(".company-details").toggle(); return false', style: 'font-size: 10px; vertical-align: top;') %>
    <% end %>
    <%= f.text_field :company_name, class: 'form-control' %>
  </div>

  <div class="company-details" style="display: <%= @invoice.company_name ? 'none' : 'block' %>;">
    <div class="form_group">
      <%= f.label :company_address %>
      <%= f.text_area :company_address, class: 'form-control' %>
    </div>

    <div class="form_group">
      <%= f.label :company_reg, 'Company registration number:' %>
      <%= f.text_field :company_reg, class: 'form-control' %>
    </div>

    <div class="form_group">
      <%= f.label :company_vat %>
      <%= f.text_field :company_vat, class: 'form-control' %>
    </div>
  </div>

  <div class="form_group">
    <%= f.label :to_address, 'Client name and address' %>
    <%= f.text_area :to_address, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :number, 'Invoice number' %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :tax_date, 'Issue date' %>
    <%= f.date_field :tax_date, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :po_number, 'PO number' %>
    <%= f.text_field :po_number, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :reference %>
    <%= f.text_field :reference, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :terms, 'terms' %>
    <%= f.select :terms, (1..30).map { |i| pluralize(i, 'day') }, {}, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :due_date %>
    <%= f.date_field :due_date, class: 'form-control' %>
  </div>

</div>
