<div class="col-md-9">
  <h1>Invoices</h1>
</div>

<div class="col-md-3">
  <%= link_to('New', new_invoice_path, class: 'btn btn-success') %>
  <%= paginate @invoices %>
</div>

<% @invoices.group_by(&:company).each do |company, invoices| %>

  <% if current_user.is_accountant? %>
    <div class="col-md-12">
      <h2>
        <%= company.user.name %>:
        <%= company.name || '-' %>
      </h2>
    </div>
  <% end %>

  <div class="col-md-12">
    <table class="table-responsive table">
      <thead>
        <tr>
          <th>Invoice number</th>
          <th>Client</th>
          <th>Issue date</th>
          <th>Net</th>
          <th>Gross</th>
          <th>Paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% last = nil %>
        <% invoices.each do |invoice| %>
          <tr>
            <td><%= link_to(invoice.number, invoice_path(invoice)) %></td>
            <td title="<%= invoice.to_address %>"><%= truncate(invoice.to_address.split("\n").join(', ')) %></td>
            <td><%= invoice.tax_date.strftime('%d %b %Y') %></td>
            <td class="text-right"><%= number_to_currency(invoice.net, unit: '£') %></td>
            <td class="text-right"><%= number_to_currency(invoice.gross, unit: '£') %></td>
            <td>
              <% if (line = invoice.line) %>
                <% line.description %> (<%= line.transaction_date.strftime('%d %b %Y') %>): <%= number_to_currency(line.amount.abs, unit: '£') %>
              <% end %>
            </td>
            <td style="padding: 2px">
              <%= link_to('New From', new_invoice_path(copy_invoice_id: invoice.id), class: 'btn btn-success') if last != invoice.to_address %>
              <% last = invoice.to_address %>
              <%= link_to('Preview', invoice_path(invoice), class: 'btn btn-primary') %>
              <%= link_to('Edit', edit_invoice_path(invoice), class: 'btn btn-secondary') unless invoice.generated_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>Totals</td>
          <td></td>
          <td></td>
          <td class="text-right"><%= number_to_currency(invoices.sum(&:net), unit: '£') %></td>
          <td class="text-right"><%= number_to_currency(invoices.sum(&:gross), unit: '£') %></td>
          <td></td>
        </tr>
        <% invoices.group_by(&:tax_year).each do |year, invoices_for_year| %>
          <tr>
            <td>Totals for <%= year %></td>
            <td></td>
            <td></td>
            <td class="text-right"><%= number_to_currency(invoices_for_year.sum(&:net), unit: '£') %></td>
            <td class="text-right"><%= number_to_currency(invoices_for_year.sum(&:gross), unit: '£') %></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;Tax Requirements:</td>
            <td></td>
            <td></td>
            <td class="text-right"><%= number_to_currency(invoices_for_year.sum(&:net) * 0.19, unit: '£') %></td>
            <td class="text-right"><%= number_to_currency(invoices_for_year.sum(&:net) * 0.39, unit: '£') %></td>
          </tr>
        <% end %>
      </tfoot>
    </table>
  </div>
<% end %>
