<div class="row">
  <div class="col-xs-12">
    <p><b>Dividend Voucher</b></p>
  </div>
</div>
<br/>

<div class="row">
  <div class="text-center col-xs-12">
    <h2><%= @dividend.company_name %></h2>
  </div>
</div>

<div class="row">
  <div class="text-center col-xs-12">
    <p>Company registration number: <%= @dividend.company_reg %></p>
  </div>
</div>

<br/>
<br/>

<div class="row">
  <div class="text-center col-xs-12">
    <p>Interim dividend payable to shareholders registered on <%= @dividend.dividend_date&.strftime('%d %b %Y') %></p>
  </div>
</div>

<br>

<% @dividend.rows.each do |row| %>
  <div class="row">
    <div class="col-xs-6">
      <p><b>Shareholder name:</b></p>
    </div>
    <div class="col-xs-6">
      <p><%= row.shareholder %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p><b>Shares:</b></p>
    </div>
    <div class="col-xs-6">
      <p><%= row.shares %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p><b>Interim Dividend Payable:</b></p>
    </div>
    <div class="col-xs-6">
      <p><%= number_to_currency(row.amount, unit: '£') %></p>
    </div>
  </div>

  <br>
<% end %>

<div class="row">
  <div class="text-center col-xs-12">
    <p>This voucher should be kept. It will be accepted by HM Revenue & Customs as evidence of a tax credit.</p>
  </div>
</div>

