<div class="col-md-9">
  <h1>Manual matches</h1>
</div>

<div class="col-md-3">
  <%= link_to('New', new_manual_match_path, class: 'btn btn-success') %>
  <%= paginate @manual_matches %>
</div>

<% @manual_matches.group_by(&:user).each do |user, manual_matches| %>

  <% if current_user.is_accountant? %>
    <div class="col-md-12">
      <h2><%= user.company_name || user.name %></h2>
    </div>
  <% end %>

  <div class="col-md-12">
    <table class="table-responsive table">
      <thead>
        <tr>
          <th>Payment Type</th>
          <th>Payment Subtype</th>
          <th>Period End</th>
          <th>Amount</th>
          <th>Paid</th>
          <th>Remaining</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% manual_matches.each do |manual_match| %>
          <tr>
            <td><%= manual_match.payment_type %></td>
            <td><%= manual_match.payment_subtype %></td>
            <td><%= manual_match.date.strftime('%d %b %Y') %></td>
            <td class="text-right"><%= number_to_currency(manual_match.amount, unit: '£') %></td>
            <td>
              <% manual_match.lines.each do |line| %>
                <p>
                  <%= line.description %> (<%= line.transaction_date.strftime('%d %b %Y') %>): <%= number_to_currency(line.amount.abs, unit: '£') %>
                </p>
              <% end %>
            </td>
            <td><%= number_to_currency(manual_match.amount - manual_match.lines.sum(:amount).abs, unit: '£') %></td>
            <td style="padding: 2px">
              <%= link_to('Edit', edit_manual_match_path(manual_match), class: 'btn btn-secondary') %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Totals</td>
          <td class="text-right"><%= number_to_currency(manual_matches.sum(&:amount), unit: '£') %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% manual_matches.group_by(&:payment_type).each do |type, manual_matches_for_year| %>
          <tr>
            <td colspan="2">Totals for <%= type %></td>
            <td class="text-right"><%= number_to_currency(manual_matches_for_year.sum(&:amount), unit: '£') %></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tfoot>
    </table>
  </div>
<% end %>

