<div class="col-md-9">
  <h1>Bank Account Details</h1>
</div>
<div class="col-md-3">
  <% if params[:filter] %>
    <%= link_to "Show all", bank_account_path(params[:id]), class: 'btn btn-warning' %>
  <% else %>
    <%= link_to 'Filter to unmatched', bank_account_path(params[:id], filter: 'unlinked'), class: 'btn btn-warning' %>
  <% end %>
  <br>
  <%= link_to 'Export', export_bank_account_path(params[:id]), class: 'btn btn-warning' %>
</div>

<div class="col-md-12">
  <%= paginate @bank_lines %>
</div>

<div class="col-md-3">
  <% bank_info = @bank_lines.first %>
  <table class="table-responsive table">
    <tr>
      <th>Account name</th>
      <td><%= bank_info.name %></td>
    </tr>
    <tr>
      <th>Account #</th>
      <td><%= bank_info.account_num %></td>
    </tr>
    <tr>
      <th>Sort Code</th>
      <td><%= bank_info.sort_code %></td>
    </tr>
    <tr>
      <th>Balance</th>
      <td><%= number_to_currency(bank_info.current_balance, unit: '£') %></td>
    </tr>
  </table>
</div>
<div class="col-md-9">
  <%= form_tag bank_account_path(params[:id]), method: :get do %>
    Search:
    <%= text_field_tag :filter, params[:filter].to_s.gsub(/unlinked/, '') %>
    <%= submit_tag 'Search' %>
  <% end %>
  <%= form_tag bank_account_path(params[:id]), method: :put do %>
    <%= hidden_field_tag :filter, params[:filter] %>
    <%= hidden_field_tag :type, 'manual' %>
    Match Type:
    <%= select_tag :payment_types, options_from_collection_for_select(@manual_types, :key, :name, params[:payment_types]), include_blank: true %><br />
    New Match Type <%= text_field_tag :new_payment_types %>

    <%= submit_tag 'Create Manual Matches' %>
  <% end  %>
  <%= form_tag bank_account_path(params[:id]), method: :put do %>
    <%= hidden_field_tag :filter, params[:filter] %>
    <%= hidden_field_tag :type, 'dividends' %>
    Group Sizes: <%= text_field_tag :groups, params[:groups], placeholder: '2,2,2' %>

    <%= submit_tag 'Create Dividends' %>
  <% end  %>
</div>
<div class="col-md-12">
  <table class="table-responsive table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th>Paid In</th>
        <th>Paid Out</th>
        <th>Balance</th>
        <th>Linked</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bank_lines.each do |bank_line| %>
        <tr>
          <td><%= bank_line.transaction_date.strftime('%d %b %Y') %></td>
          <td><%= bank_line.transaction_type %></td>
          <td><%= bank_line.description %></td>
          <td class="text-right"><%= bank_line.amount > 0 ? number_to_currency(bank_line.amount, unit: '£') : nil %></td>
          <td class="text-right"><%= bank_line.amount < 0 ? number_to_currency(bank_line.amount.abs, unit: '£') : nil %></td>
          <td class="text-right"><%= number_to_currency(bank_line.balance, unit: '£') %></td>
          <td>
            <% if bank_line.source&.desc && bank_line.source&.link_action %>
              <%= link_to bank_line.source.desc, { controller: bank_line.source_type.underscore.pluralize, action: bank_line.source.link_action, id: bank_line.source_id } %>
            <% else %>
              <%= bank_line.source&.desc %>
            <% end %>
          </td>
          <td style="padding: 2px">
            <%= link_to(bank_line.source ? 'Review' : 'Match', edit_bank_line_path(bank_line), class: 'btn btn-primary') %>
            <% if bank_line.source.nil? %>
              <%= form_tag bank_account_path(params[:id]), method: :put, style: 'display: inline' do %>
                <%= hidden_field_tag :type, 'split' %>
                <%= hidden_field_tag :filter, params[:filter] %>
                <%= hidden_field_tag :line_id, bank_line.id %>
                <%= submit_tag 'Split', class: 'btn btn-secondary' %>
                Amount: <%= text_field_tag :amount %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

