<div class="col-md-12 multi-colums" >
  <div class="form_group">
    <%= f.label :tax_type, 'Type' %>
    <%= f.text_field :tax_type, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :period_end, 'Period end' %>
    <%= f.date_field :period_end, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :amount %>
    <%= f.number_field :amount, class: 'form-control currency', step: 0.01 %>
  </div>
</div>
