<%= form_for @receipt  do |f| %>
  <div class="form_group">
    <%= f.label :purchase_date, 'Purchase date' %>
    <%= f.date_field :purchase_date, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :code, 'Expense type' %>
    <%= f.grouped_collection_select :code, @types, :children, :name, :code, :name, {}, class: 'form-control enhanced-select'  %>
  </div>

  <div class="form_group">
    <%= f.label :amount %>
    <%= f.number_field :amount, min: 0, step: 0.01, onchange: '$(this).val(parseFloat($(this).val()).toFixed(2))', class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.label :company %>
    <%= f.text_field :company, class: 'form-control' %>
  </div>

<% end %>


<script>
  $(".enhanced-select").select2({
    theme: "bootstrap"
  });
</script>
