<div class="col-md-9">
  <h1>Receipts</h1>
</div>
<div class="col-md-3">
  <% if params[:filter] %>
    <%= link_to "Show all", receipts_path, class: 'btn btn-warning' %>
  <% else %>
    <%= link_to 'Filter to unmatched', receipts_path(filter: 'unlinked'), class: 'btn btn-warning' %>
  <% end %>
</div>

<div class="col-md-12">
  <%= paginate @receipts %>
</div>

<% @receipts.group_by(&:company).each do |company, receipts| %>
  <% if current_user.is_accountant? %>
    <div class="col-md-12">
      <h2>
        <%= company.user.name %>:
        <%= company.name || '-' %>
      </h2>
    </div>
  <% end %>

  <div class="col-md-12">
    <table class="table-responsive table">
      <thead>
        <tr>
          <th>Purchase Date</th>
          <th>Company</th>
          <th>Payer</th>
          <th>Expence type</th>
          <th>Amount</th>
          <th>Matched</th>
          <th></th>
        </tr>
      </thead>
      <tobody>
        <% receipts.group_by(&:month).each do |month, month_receipts| %>
          <% month_receipts.each do |receipt| %>
            <tr>
              <td><%= receipt.purchase_date&.strftime('%d %b %Y') || '-' %></td>
              <td><%= receipt.company_name || '-' %></td>
              <td><%= receipt.payer || '-' %></td>
              <td><%= ExpenseType.lookup(receipt.code) || '-' %></td>
              <td class="text-right"><%= receipt.amount ? number_to_currency(receipt.amount, unit: '£') : '-' %></td>
              <td>
                <% if (line = receipt.line) %>
                  <% line.description %> (<%= line.transaction_date.strftime('%d %b %Y') %>): <%= number_to_currency(line.amount.abs, unit: '£') %>
                <% end %>
              </td>
              <td>
                <%= link_to('Edit', edit_receipt_path(receipt), class: 'btn btn-primary') %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>Total for <%= month %></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><%= number_to_currency(month_receipts.sum { |r| r.amount || 0 }, unit: '£') %></td>
            <td></td>
          </tr>
        <% end %>
      </tobody>
    </table>
  </div>
<% end %>
