<div class="col-md-12">
  <h1>Receipts</h1>
</div>

<div class="col-md-12">
  <%= paginate @receipts %>
</div>

<% @receipts.group_by(&:user).each do |user, receipts| %>
  <% if current_user.is_accountant? %>
    <div class="col-md-12">
      <h2><%= user.company_name || user.name %></h2>
    </div>
  <% end %>

  <div class="col-md-12">
    <table class="table-responsive table">
      <thead>
        <tr>
          <th>Purchase Date</th>
          <th>Company</th>
          <th>Payer</th>
          <th>Expence type</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tobody>
        <% receipts.group_by(&:month).each do |month, month_receipts| %>
          <% month_receipts.each do |receipt| %>
            <tr>
              <td><%= receipt.purchase_date&.strftime('%d %b %Y') || '-' %></td>
              <td><%= receipt.company || '-' %></td>
              <td><%= receipt.payer || '-' %></td>
              <td><%= ExpenseType.lookup(receipt.code) || '-' %></td>
              <td class="text-right"><%= receipt.amount ? number_to_currency(receipt.amount, unit: '£') : '-' %></td>
              <td>
                <%= link_to('Edit', edit_receipt_path(receipt), class: 'btn btn-secondary') %>
              </td>
            </tr>
            <tr>
              <td>Total for <%= month %></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right"><%= month_receipt.sum { |r| r.amount || 0 }, unit: '£') : '-' %></td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tobody>
    </table>
  </div>
<% end %>
