<nav class="menu">
  <ul class="nav metismenu" id="sidebar-menu">
    <li class="<%= 'active no-iphone' if current_page?(new_receipt_path) %>">
      <a href="<%= new_receipt_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        Add receipt (with preview)
      </a>
    </li>
    <li class="<%= 'active' if current_page?(gallery_receipts_path) %>">
      <a href="<%= gallery_receipts_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        <span class="on-iphone">Add receipt (iphone or gallery)</span>
        <span class="no-iphone">Add receipt (gallery)</span>
      </a>
    </li>
    <li class="<%= 'active' if current_page?(receipts_path) %>">
      <a href="<%= receipts_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        Receipts
      </a>
    </li>
    <li class="<%= 'active' if current_page?(new_invoice_path) %>">
      <a href="<%= new_invoice_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        Create invoice
      </a>
    </li>
    <li class="<%= 'active' if current_page?(invoices_path) %>">
      <a href="<%= invoices_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        Invoices
      </a>
    </li>
    <li class="<%= 'active' if current_page?(new_dividend_path) %>">
      <a href="<%= new_dividend_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        Create dividend
      </a>
    </li>
    <li class="<%= 'active' if current_page?(dividends_path) %>">
      <a href="<%= dividends_path %>">
        <i class="<%= "fa fa-arrow" %>"></i>
        Dividends
      </a>
    </li>
    <% if current_user.is_accountant? %>
      <li class="<%= 'active' if current_page?(users_path) %>">
        <a href="<%= users_path %>">
          <i class="<%= "fa fa-arrow" %>"></i>
          Users
        </a>
      </li>
    <% end %>
  </ul>
</nav>
