<nav class="menu">
  <ul class="nav metismenu" id="sidebar-menu">
    <li class="<%= 'active' if current_location?(receipts_path) %>">
      <a href="<%= receipts_path %>">
        Receipts
        (
          <div class="no-iphone">
            <span class="new-link" data-href="<%= new_receipt_path %>">New</span> |
          </div>
          <span class="new-link" data-href="<%= gallery_receipts_path %>">
            <div class="on-iphone">New</div>
            <div class="no-iphone">From gallery</div>
          </span>
        )
      </a>
    </li>
    <li class="<%= 'active' if current_location?(invoices_path) %>">
      <a href="<%= invoices_path %>">
        Invoices
        (<span class="new-link" data-href="<%= new_invoice_path %>">New</span>)
      </a>
    </li>
    <li class="<%= 'active' if current_location?(taxes_path) %>">
      <a href="<%= taxes_path %>">
        Tax
        (<span class="new-link" data-href="<%= new_tax_path %>">New</span>)
      </a>
    </li>
    <li class="<%= 'active' if current_location?(wages_path) %>">
      <a href="<%= taxes_path %>">
        Wages
        (<span class="new-link" data-href="<%= new_wage_path %>">New</span>)
      </a>
    </li>
    <li class="<%= 'active' if current_location?(dividends_path) %>">
      <a href="<%= dividends_path %>">
        Dividends
        (<span class="new-link" data-href="<%= new_dividend_path %>">New</span>)
      </a>
    </li>
    <li class="<%= 'active' if current_location?(bank_accounts_path) %>">
      <a href="<%= bank_accounts_path %>">
        Bank Accounts
      </a>
    </li>
    <% if current_user.is_accountant? %>
      <li class="<%= 'active' if current_location?(users_path) %>">
        <a href="<%= users_path %>">
          Users
        </a>
      </li>
    <% end %>
  </ul>
</nav>
